.rootPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  /* margin: 25px; */
  border: 4px solid #d1caca;
}

.welcomeText {
  text-align-last: center;
  color: rgb(13, 151, 153);
  color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(71,61,106,1) 100%);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}